.map {
  z-index: 1;
}

body {
  overflow: hidden;
}

.selectors {
    position: absolute;
    top: 5em;
    left: 0.6em;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: fle;
    width: 20em;
    height: auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1em;
}

.selectors div {
  margin: 0 !important;
}

.timeline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  z-index: 2;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-radius: 20px 20px 0 0;
}

.timeline > span {
    height: 10px;
}

.timeline > span:nth-child(2) {
    height: 1em;
}

.slider {
  width: 100%;
  margin: 1em;
}

.slider-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-left: 2em;
}

.css-14pt78w-MuiSlider-rail {
  display: block;
  position: absolute;
  border-radius: inherit;
  background-color: currentColor;
  opacity: 0.38;
  width: 91% !important;
  height: 5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.MuiSlider-track{
max-width: 91% !important;
}

.search {
  position: absolute;
  top: 1em;
  right: 1em;
  z-index: 2;
  width: 20em;
  background-color: #fff;
}

.search-bar {
  border-radius: 20px !important;
}

.modal {
  position: absolute;
  top: 5em;
  right: 1em;
  z-index: 2;
  width: 20em;
  background-color: #fff;
}

.year {
 margin-left: 1em;
 display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}