.map {
  z-index: 1;
}

body {
  overflow: hidden;
}

.selectors {
    position: absolute;
    top: 5em;
    left: 0.6em;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: fle;
    width: 20em;
    height: auto;
    background-color: rgba(255, 255, 255, 1);
    padding: 1em;
    border-radius: 20px;
}

.selectors div {
  margin: 0 !important;
}

.timeline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  z-index: 2;
  /*background: linear-gradient(to bottom, #ffffff, #58b7e3b4);  */
  background-color: #ffff;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-radius: 20px 20px 0 0;
}


.timeline > span {
    height: 10px;
}

.timeline > span:nth-child(2) {
    height: 1em;
}

.slider {
  width: 100%;
  margin: 1em;
}

.slider-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-left: 2em;
}

.css-14pt78w-MuiSlider-rail {
  display: block;
  position: absolute;
  border-radius: inherit;
  background-color: currentColor;
  opacity: 0.38;
  /*width: 91% !important; */
  height: 5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.search {
  position: absolute;
  top: 1em;
  right: 1em;
  z-index: 2;
  width: 20em;
  background-color: #fff;
  border-radius: 30px;
}
.search-bar {
  border-radius: 20px !important;
}

fieldset {
  border: none !important;
  outline: none !important;
}

.modal {
  position: absolute;
  top: 5em;
  right: 1em;
  z-index: 2;
  width: 20em;
  background-color: #fff;
  max-height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 20px;
}

.modal button {
  right: 0em;
  top: 0em;
  position: absolute;
  z-index: 2;
  background-color: red;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.year {
 margin-left: 1em;
 display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #60aada;
  gap: 1em;
}

.loading-container img{
  width: 30%;

}

.logo-small img {
  width: 100px;
}

.logo-small {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 50%;
}

.modal h3, .modal h4 {
  color: #333; /* Dark grey color for text */
  margin: 10px 0;
  font-family: 'Arial', sans-serif;
  padding-left: 12px;
}

/* Specific styles for different heading levels */
.modal h3 {
  font-size: 1.5em;
}

.modal h4 {
  font-size: 1.2em;
}

/* Special styling for plot container */
.Plot {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  border: 1px solid #ddd; /* Light border for plot area */
  border-radius: 5px;
  overflow: hidden; /* Ensures plot stays within the container */
}


.flag {
  width: 20%;
 height: 100%;
 margin-left: 1em;
}